@import "css/variables.css";
@import "css/field-components.css";
@import "css/common.css";
@import "css/layout.css";
@import "css/utility.css";

body {
  margin: 0;
  font-family: 'Verdana', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-input-font {
  font-family: Verdana;
}
[class^='editor-input'] {
  width: 100%;
  box-sizing: border-box;
}
.editor-input-big {
  font-size: 1.8rem;
}
.editor-input-med {
  font-size: 1.5rem
}

